* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heading-font-family: "Montserrat";
  --paragraph-font-family: "Lato";
}

.green {
  color: #005500;
}

.blue {
  color: #0047ab;
}

.orange {
  color: #914f15;
}

.yellow {
  color: #8d6708;
}

.purple {
  color: #a75ba2;
}

.teal {
  color: #007f8c;
}

.plum {
  color: #7f637d;
}

h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  margin-bottom: 74px;
  margin-top: 45px;
  font-size: 64px;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 36px;
}

p {
  font-family: var(--paragraph-font-family);
}

a {
  text-decoration: none;
  color: inherit;
  background-color: none;
  border: none;
  align-items: center;
}

li a {
  font-family: var(--heading-font-family);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
}

.navbar img {
  width: 85px;
  height: 85px;
}

.navbar li {
  padding-right: 50px;
  font-size: 36px;
  float: left;
  list-style-type: none;
  color: #000000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-align: start;
}

.header img {
  width: 100vw;
}

.header a {
  text-align: start;
}

.text {
  width: 50%;
  font-size: 18px;
  font-family: var(--paragraph-font-family);
}

.active {
  text-decoration: underline;
}

.right {
  padding: 0;
}

.left {
  padding: 0;
}

.content {
  display: flex;
  gap: 66px;
}

.socials {
  margin-top: 35px;
  text-align: center;
}

.socials img {
  height: 25px;
  width: 25px;
}

.medium-large {
  width: 50%;
}

.medium-small {
  width: 50%;
  height: auto;
}

.footer {
  text-align: center;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 26px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    padding: 28px;
  }

  .navbar li {
    font-size: 13px;
    padding-right: 14px;
  }
  .medium-large {
    width: 85%;
  }

  .medium-small {
    width: 85%;
  }

  .text {
    width: 85%;
  }
}

@media (min-width: 1025px) {
  .right {
    padding-right: 22px;
  }
  .left {
    padding-left: 22px;
  }
}
